:root{
    scroll-behavior: auto;
}

.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none; // none: 안보여줌 block: 보여줌
}

.list-group{
    display : none
}

.show{
    display: block;
}

.black-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 6;
    padding: 30px;
    visibility: hidden; /* -> 있는데 안보여주는 것 / display: none; -> 아예 숨기는 것*/
    opacity: 0;
    transition: all 1s; /* 모든 transaction이 시작할 때 1s후에 시작*/
}

.white-bg{
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.show-modal {
    visibility: visible; /* display : block;*/
    opacity: 1;
}

.main-bg{
    padding: 100px 20px;
    background: lightgray;
}

.dark {
    background-color: black;
    color: white;
}

.slide-container {
    width: 300vw;
    transition: all 1s;
    /*transform : translateX(-100vw); !* margin-left보다 성능적으로 좀더 부드러움 *!*/
}
.slide-box {
    width: 100vw;
    float: left;
}
.slide-box img {
    width: 100%;
}
.navbar{
    position: fixed; /* 상단 고정*/
    width: 100%;
    z-index: 5;
}
.navbar-brand{
    font-size: 20px;
    transition: all 1s;
}